---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
const lastUpdated = new Date("2022-11-08T02:56:33+0000");
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <h1>
        <a href="/"
          >👩‍💻 💞 ✍️<br />How Developer Experience Holds Content Teams Back (and
          how to fix it)</a
        >
      </h1>
      <p class="text-sm">
        Last updated: <time datetime={lastUpdated.toISOString()}
          >{lastUpdated.toLocaleDateString()}</time
        >
      </p>
      <p>
        This page was made to complement the talk <strong
          >“How Developer Experience Holds Content Teams Back (and how to fix
          it)”</strong
        >, presented by <a href="https://www.knutmelvaer.no">Knut Melvær</a> (<a
          href="https://www.sanity.io?utm_source=devs4editors&utm_medium=referral&utm_campaign=jamstack-conference-2022"
          >Sanity.io</a
        >) at <a href="https//jamstackconf.org">Jamstack Conf SF, 2022</a>.
      </p><p>
        The main points of the talk are presented below. You can also <a
          href="/How-DX-holds-Content-Creators-Back-Knut-Melvaer-Jamstack-Conf-2022.pdf"
          download>download the slide deck</a
        >.
      </p>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/aPbLg6_3QhE"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

      <div class="callout">
        <h2>
          Passionate about making editorial experiences your team will love?
        </h2>
        <p>
          Join
          <a
            href="https://slack.sanity.io?utm_source=devs4editors&utm_medium=referral&utm_campaign=jamstack-conference-2022"
            >the #editorial-experience channel on the Sanity Community Slack</a
          >
          and share your thoughts and questions!
        </p>
      </div>

      <h2 id="5-things">
        <a class="anchor-link" href="#5-things">#</a>
        5 things developers should consider working with content creators
      </h2>
      Most developers are used to the idea that technology should work for us and
      not the other way around. We give software maintainers feedback in GitHub issues
      and support forums. Conversely, content creators aren't necessarily used to
      the idea that they can expect more from their tools. Or they have experienced
      that developers are hesistant to help them, because it has often involved working
      against the technology.
      <ol>
        <li>
          <h3>
            Don‘t expect content creators to write in your <code
              >[**special**](syntax)</code
            >
          </h3>
          <p class="no">
            You might love writing in Markdown, and that's OK! But don't expect
            content professionals to use Markdown, MDX, or another specialized
            syntax. Content creation for the web is hard enough by itself.
          </p><p class="yes">
            Strive to build and support proper tools for content creators so
            they can do their job and focus on what matters. Adopt presentation
            agnostic formats such as <a href="https://www.portabletext.org"
              >Portable Text</a
            > and build out custom content blocks that make sense for your goals.
          </p>
        </li>
        <li>
          <h3>Let content creators collaborate in the CMS</h3>
          <p class="no">
            Don't force content creators to work in systems that allow loss of
            work due to race conditions. Document locking is not a user-friendly
            solution either.
          </p>
          <p class="yes">
            Let content creators collaborate in real-time and let them roll back
            specific changes if they need to.
          </p>
        </li><li>
          <h3>Give content creators flexibility where it matters</h3>
          <p class="no">
            Don't give content creators infinite flexibility, as it adds
            cognitive overhead. Be careful with allowing modifications to pixel
            and color hex values in your content. It makes it easy to break
            design consistency and accessibility guidelines.
          </p>
          <p class="yes">
            Use the benefits of modern frontend tools, design systems, and
            component libraries and give content creators meaningful options
            that allow them to express priority, variation, and emphasis.
          </p>
        </li><li>
          <h3>
            Give content creators context, especially in decoupled systems
          </h3>
          <p class="no">
            The requirements to build modern digital experiences demand
            composable systems connected with APIs. The same content is expected
            to appear in different places. But this has also made it harder for
            content creators to predict how their audience will experience their
            work. Don't leave content creators with a headless system that's not
            documented and no way of previewing changes before they go live.
          </p>
          <p class="yes">
            Use field labels, validation, and other elements to give helpful
            in-place context and cues for how to enter content correctly. Work <em
              >together</em
            > with content creators to document the system.
          </p>
        </li><li>
          <h3>Ask content creators what they need (and why)</h3>

          <p class="no">
            Do not assume that the lack of feedback from content creators means
            that everything is OK. Be wary of feature requests that let content
            creators override and break design systems and responsive design
            from a CMS. It's also your responbility to make sure that content is
            stored in a way that is maintainable and future-proof.
          </p>
          <p class="yes">
            Talk to content creators to understand what they need and where they
            have friction. Observe how they use the system, and help them know
            what is possible and what is not. Always ask why a feature is needed
            and what we are trying to achieve.
          </p>
        </li>
      </ol>
    </main>
    <Footer />
  </body>
</html>
