---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <!-- <Header title={SITE_TITLE} /> -->
    <main>
      <h1>Developers 4 Editors</h1>
      <p>
        This page was made as a part of the <strong
          >How Developer Experience Holds Content Teams Back (and how to fix it)</strong
        >, presented by <a href="https://www.knutmelvaer.no">Knut Melvær</a> (<a
          href="https://www.sanity.io">Sanity.io</a
        >) at <a href="https//jamstackconf.org">Jamstack Conf SF, 2022</a>.
      </p>
      <h2>Passionate about editorial experience?</h2>
      <p>
        Join the #ediotial-experience channel, and share your thougths and
        questions!
      </p>
      <h2>Principles</h2>
      <h3>
        #1 Don‘t expect content creators to write in your <code
          >[**special**](syntax)</code
        >
      </h3>
      <p><a href="">Add your experience</a></p>
      <h3>#2 Let content creators collaborate in the CMS</h3>
      <h3>#3 Give content creators flexibility where it matters</h3>
      <h3>#4 Give content creators context, especially in decoupled systems</h3>
      <h3>#5 Ask content creators what they need (and why)</h3>
      <h2>Slide Deck</h2>
    </main>
    <Footer />
  </body>
</html>
