---
const today = new Date();
---

<footer>
  <p>
    Want to try out a content platform with both great developer and content
    creation experience? <a href="https://www.sanity.io"
      >Check out Sanity and let us know what you think!</a
    >
  </p>
  &copy; {today.getFullYear()} Sanity.io. All rights reserved.
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
