---
const today = new Date();
---

<footer class="border-t-2 border-dashed mt-6">
  <p>
    The content on this site was <a
      href="https://github.com/sanity-io/devs4editors.io"
      >written with HTML and published through GitHub</a
    > (yes, we appreciate the irony).
  </p>
  <p>
    These tips are colored by having spent years working on a platform for
    developer and content creators. <a href="https://www.sanity.io"
      >Check out Sanity and let us know what you think!</a
    >
  </p>
  &copy; {today.getFullYear()} Sanity.io. All rights reserved.
</footer>
